.stud {
  background-color: #e7e7e7;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background: url("../registration.jpg"); 
  /* background-position: center;  */
  background-size: contain;
}

.h {
  text-align: center;
  color: white;
}

.name-title{
  color:white;
}
